.mood-display {
  position: relative;
  left: 30%;
  top: -7%;

  &__background {
    width: 105%;
    height: 100%;
  }

  &__text {
    position: absolute;
    top: 51%;
    left: 52%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    resize: none;
    text-align: center;
    color: white;
    width: 80%;
  }
}
.mood-display__text{
  height: 100px;
  width: 170px;
  color: white ;
  font-size: 16px;
  font-family: 'Pixelify-Sans';
}


